# Prepare Sales Data

I'm going to take the steps in the following kernel: https://www.kaggle.com/dlarionov/feature-engineering-xgboost/notebook

In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd

from itertools import product
from sklearn.preprocessing import LabelEncoder

import seaborn as sns
import matplotlib.pyplot as plt

import time
import sys
import gc
import pickle
sys.version_info

/home/ubuntu/anaconda3/envs/fastai/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

sys.version_info(major=3, minor=6, micro=6, releaselevel='final', serial=0)

In [3]:
PATH = 'data/predict_future_sales/'

items = pd.read_csv(PATH+'items.csv')
shops = pd.read_csv(PATH+'shops.csv')
cats = pd.read_csv(PATH+'item_categories.csv')
train = pd.read_csv(PATH+'sales_train.csv')
# set index to ID to avoid droping it later
test  = pd.read_csv(PATH+'test.csv').set_index('ID')

## Delete Outliers

In [4]:
train = train[train.item_price<100000]
train = train[train.item_cnt_day<1001]

There is one item with price below zero. Fill it with median.

In [5]:
median = train[(train.shop_id==32)&(train.item_id==2973)&(train.date_block_num==4)&(train.item_price>0)].item_price.median()
train.loc[train.item_price<0, 'item_price'] = median

## Remove duplicates

Several shops are duplicates of each other (according to its name). Fix train and test set.

In [6]:
# Якутск Орджоникидзе, 56
train.loc[train.shop_id == 0, 'shop_id'] = 57
test.loc[test.shop_id == 0, 'shop_id'] = 57
# Якутск ТЦ "Центральный"
train.loc[train.shop_id == 1, 'shop_id'] = 58
test.loc[test.shop_id == 1, 'shop_id'] = 58
# Жуковский ул. Чкалова 39м²
train.loc[train.shop_id == 10, 'shop_id'] = 11
test.loc[test.shop_id == 10, 'shop_id'] = 11

## Shops/Cats/Items preprocessing

In [7]:
shops.loc[shops.shop_name == 'Сергиев Посад ТЦ "7Я"', 'shop_name'] = 'СергиевПосад ТЦ "7Я"'
shops['city'] = shops['shop_name'].str.split(' ').map(lambda x: x[0])
shops.loc[shops.city == '!Якутск', 'city'] = 'Якутск'
shops['city_code'] = LabelEncoder().fit_transform(shops['city'])
shops = shops[['shop_id','city_code']]

cats['split'] = cats['item_category_name'].str.split('-')
cats['type'] = cats['split'].map(lambda x: x[0].strip())
cats['type_code'] = LabelEncoder().fit_transform(cats['type'])
# if subtype is nan then type
cats['subtype'] = cats['split'].map(lambda x: x[1].strip() if len(x) > 1 else x[0].strip())
cats['subtype_code'] = LabelEncoder().fit_transform(cats['subtype'])
cats = cats[['item_category_id','type_code', 'subtype_code']]

items.drop(['item_name'], axis=1, inplace=True)

## Monthly sales

In [8]:
matrix = []
cols = ['date_block_num','shop_id','item_id']
for i in range(34):
    sales = train[train.date_block_num==i]
    matrix.append(np.array(list(product([i], sales.shop_id.unique(), sales.item_id.unique())), dtype='int16'))
    
matrix = pd.DataFrame(np.vstack(matrix), columns=cols)
matrix['date_block_num'] = matrix['date_block_num'].astype(np.int8)
matrix['shop_id'] = matrix['shop_id'].astype(np.int8)
matrix['item_id'] = matrix['item_id'].astype(np.int16)
matrix.sort_values(cols,inplace=True)

In [9]:
train['revenue'] = train['item_price'] *  train['item_cnt_day']

In [10]:
train.head()

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,revenue
0,02.01.2013,0,59,22154,999.00,1.0,999.00
1,03.01.2013,0,25,2552,899.00,1.0,899.00
2,05.01.2013,0,25,2552,899.00,-1.0,-899.00
3,06.01.2013,0,25,2554,1709.05,1.0,1709.05
4,15.01.2013,0,25,2555,1099.00,1.0,1099.00

In [11]:
group = train.groupby(['date_block_num','shop_id','item_id']).agg({'item_cnt_day': ['sum']})
group.columns = ['item_cnt_month']
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=cols, how='left')
matrix['item_cnt_month'] = (matrix['item_cnt_month']
                                .fillna(0)
                                .clip(0,20) # NB clip target here
                                .astype(np.float16))

Do same for test set.

In [12]:
test['date_block_num'] = 34
test['date_block_num'] = test['date_block_num'].astype(np.int8)
test['shop_id'] = test['shop_id'].astype(np.int8)
test['item_id'] = test['item_id'].astype(np.int16)

In [13]:
matrix = pd.concat([matrix, test], ignore_index=True, sort=False, keys=cols)

## Shops/Items/Cats features

In [14]:
matrix = pd.merge(matrix, shops, on=['shop_id'], how='left')
matrix = pd.merge(matrix, items, on=['item_id'], how='left')
matrix = pd.merge(matrix, cats, on=['item_category_id'], how='left')
matrix['city_code'] = matrix['city_code'].astype(np.int8)
matrix['item_category_id'] = matrix['item_category_id'].astype(np.int8)
matrix['type_code'] = matrix['type_code'].astype(np.int8)
matrix['subtype_code'] = matrix['subtype_code'].astype(np.int8)

## Target lags

In [15]:
def lag_feature(df, lags, col):
    tmp = df[['date_block_num','shop_id','item_id',col]]
    for i in lags:
        shifted = tmp.copy()
        shifted.columns = ['date_block_num','shop_id','item_id', col+'_lag_'+str(i)]
        shifted['date_block_num'] += i
        df = pd.merge(df, shifted, on=['date_block_num','shop_id','item_id'], how='left')
    return df

matrix = lag_feature(matrix, [1,2,3,6,12], 'item_cnt_month')

## Mean encoded features

In [16]:
group = matrix.groupby(['date_block_num']).agg({'item_cnt_month': ['mean']})
group.columns = [ 'date_avg_item_cnt' ]
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num'], how='left')
matrix['date_avg_item_cnt'] = matrix['date_avg_item_cnt'].astype(np.float16)
matrix = lag_feature(matrix, [1], 'date_avg_item_cnt')
matrix.drop(['date_avg_item_cnt'], axis=1, inplace=True)

group = matrix.groupby(['date_block_num', 'item_id']).agg({'item_cnt_month': ['mean']})
group.columns = [ 'date_item_avg_item_cnt' ]
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num','item_id'], how='left')
matrix['date_item_avg_item_cnt'] = matrix['date_item_avg_item_cnt'].astype(np.float16)
matrix = lag_feature(matrix, [1,2,3,6,12], 'date_item_avg_item_cnt')
matrix.drop(['date_item_avg_item_cnt'], axis=1, inplace=True)

group = matrix.groupby(['date_block_num', 'shop_id']).agg({'item_cnt_month': ['mean']})
group.columns = [ 'date_shop_avg_item_cnt' ]
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num','shop_id'], how='left')
matrix['date_shop_avg_item_cnt'] = matrix['date_shop_avg_item_cnt'].astype(np.float16)
matrix = lag_feature(matrix, [1,2,3,6,12], 'date_shop_avg_item_cnt')
matrix.drop(['date_shop_avg_item_cnt'], axis=1, inplace=True)

group = matrix.groupby(['date_block_num', 'item_category_id']).agg({'item_cnt_month': ['mean']})
group.columns = [ 'date_cat_avg_item_cnt' ]
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num','item_category_id'], how='left')
matrix['date_cat_avg_item_cnt'] = matrix['date_cat_avg_item_cnt'].astype(np.float16)
matrix = lag_feature(matrix, [1], 'date_cat_avg_item_cnt')
matrix.drop(['date_cat_avg_item_cnt'], axis=1, inplace=True)

group = matrix.groupby(['date_block_num', 'shop_id', 'item_category_id']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_shop_cat_avg_item_cnt']
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num', 'shop_id', 'item_category_id'], how='left')
matrix['date_shop_cat_avg_item_cnt'] = matrix['date_shop_cat_avg_item_cnt'].astype(np.float16)
matrix = lag_feature(matrix, [1], 'date_shop_cat_avg_item_cnt')
matrix.drop(['date_shop_cat_avg_item_cnt'], axis=1, inplace=True)

group = matrix.groupby(['date_block_num', 'shop_id', 'type_code']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_shop_type_avg_item_cnt']
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num', 'shop_id', 'type_code'], how='left')
matrix['date_shop_type_avg_item_cnt'] = matrix['date_shop_type_avg_item_cnt'].astype(np.float16)
matrix = lag_feature(matrix, [1], 'date_shop_type_avg_item_cnt')
matrix.drop(['date_shop_type_avg_item_cnt'], axis=1, inplace=True)

group = matrix.groupby(['date_block_num', 'shop_id', 'subtype_code']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_shop_subtype_avg_item_cnt']
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num', 'shop_id', 'subtype_code'], how='left')
matrix['date_shop_subtype_avg_item_cnt'] = matrix['date_shop_subtype_avg_item_cnt'].astype(np.float16)
matrix = lag_feature(matrix, [1], 'date_shop_subtype_avg_item_cnt')
matrix.drop(['date_shop_subtype_avg_item_cnt'], axis=1, inplace=True)

group = matrix.groupby(['date_block_num', 'city_code']).agg({'item_cnt_month': ['mean']})
group.columns = [ 'date_city_avg_item_cnt' ]
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num', 'city_code'], how='left')
matrix['date_city_avg_item_cnt'] = matrix['date_city_avg_item_cnt'].astype(np.float16)
matrix = lag_feature(matrix, [1], 'date_city_avg_item_cnt')
matrix.drop(['date_city_avg_item_cnt'], axis=1, inplace=True)

group = matrix.groupby(['date_block_num', 'item_id', 'city_code']).agg({'item_cnt_month': ['mean']})
group.columns = [ 'date_item_city_avg_item_cnt' ]
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num', 'item_id', 'city_code'], how='left')
matrix['date_item_city_avg_item_cnt'] = matrix['date_item_city_avg_item_cnt'].astype(np.float16)
matrix = lag_feature(matrix, [1], 'date_item_city_avg_item_cnt')
matrix.drop(['date_item_city_avg_item_cnt'], axis=1, inplace=True)

group = matrix.groupby(['date_block_num', 'type_code']).agg({'item_cnt_month': ['mean']})
group.columns = [ 'date_type_avg_item_cnt' ]
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num', 'type_code'], how='left')
matrix['date_type_avg_item_cnt'] = matrix['date_type_avg_item_cnt'].astype(np.float16)
matrix = lag_feature(matrix, [1], 'date_type_avg_item_cnt')
matrix.drop(['date_type_avg_item_cnt'], axis=1, inplace=True)

group = matrix.groupby(['date_block_num', 'subtype_code']).agg({'item_cnt_month': ['mean']})
group.columns = [ 'date_subtype_avg_item_cnt' ]
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num', 'subtype_code'], how='left')
matrix['date_subtype_avg_item_cnt'] = matrix['date_subtype_avg_item_cnt'].astype(np.float16)
matrix = lag_feature(matrix, [1], 'date_subtype_avg_item_cnt')
matrix.drop(['date_subtype_avg_item_cnt'], axis=1, inplace=True)

## Price trend for the last six months.

In [17]:
group = train.groupby(['item_id']).agg({'item_price': ['mean']})
group.columns = ['item_avg_item_price']
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['item_id'], how='left')
matrix['item_avg_item_price'] = matrix['item_avg_item_price'].astype(np.float16)

group = train.groupby(['date_block_num','item_id']).agg({'item_price': ['mean']})
group.columns = ['date_item_avg_item_price']
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num','item_id'], how='left')
matrix['date_item_avg_item_price'] = matrix['date_item_avg_item_price'].astype(np.float16)

lags = [1,2,3,4,5,6]
matrix = lag_feature(matrix, lags, 'date_item_avg_item_price')

for i in lags:
    matrix['delta_price_lag_'+str(i)] = \
        (matrix['date_item_avg_item_price_lag_'+str(i)] - matrix['item_avg_item_price']) / matrix['item_avg_item_price']

def select_trend(row):
    for i in lags:
        if row['delta_price_lag_'+str(i)]:
            return row['delta_price_lag_'+str(i)]
    return 0
    
matrix['delta_price_lag'] = matrix.apply(select_trend, axis=1)
matrix['delta_price_lag'] = matrix['delta_price_lag'].astype(np.float16)

# https://stackoverflow.com/questions/31828240/first-non-null-value-per-row-from-a-list-of-pandas-columns/31828559
# matrix['price_trend'] = matrix[['delta_price_lag_1','delta_price_lag_2','delta_price_lag_3']].bfill(axis=1).iloc[:, 0]
# Invalid dtype for backfill_2d [float16]

fetures_to_drop = ['item_avg_item_price', 'date_item_avg_item_price']
for i in lags:
    fetures_to_drop += ['date_item_avg_item_price_lag_'+str(i)]
    fetures_to_drop += ['delta_price_lag_'+str(i)]

matrix.drop(fetures_to_drop, axis=1, inplace=True)

## Last Month Shop Revenue Trend

In [18]:
group = train.groupby(['date_block_num','shop_id']).agg({'revenue': ['sum']})
group.columns = ['date_shop_revenue']
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['date_block_num','shop_id'], how='left')
matrix['date_shop_revenue'] = matrix['date_shop_revenue'].astype(np.float32)

group = group.groupby(['shop_id']).agg({'date_shop_revenue': ['mean']})
group.columns = ['shop_avg_revenue']
group.reset_index(inplace=True)

matrix = pd.merge(matrix, group, on=['shop_id'], how='left')
matrix['shop_avg_revenue'] = matrix['shop_avg_revenue'].astype(np.float32)

matrix['delta_revenue'] = (matrix['date_shop_revenue'] - matrix['shop_avg_revenue']) / matrix['shop_avg_revenue']
matrix['delta_revenue'] = matrix['delta_revenue'].astype(np.float16)

matrix = lag_feature(matrix, [1], 'delta_revenue')

matrix.drop(['date_shop_revenue','shop_avg_revenue','delta_revenue'], axis=1, inplace=True)

## Special features

In [19]:
matrix['month'] = matrix['date_block_num'] % 12 + 1

In [20]:
matrix['year'] = matrix['date_block_num'] // 12 + 2013

In [21]:
matrix['year'].value_counts()

2013    4488710
2014    3939517
2015    2699777
Name: year, dtype: int64

Number of days in a month. There are no leap years.

In [22]:
days = pd.Series([31,28,31,30,31,30,31,31,30,31,30,31])
matrix['days'] = matrix['month'].map(days)

Months since the last sale for each shop/item pair and for item only.

In [23]:
cache = {}
matrix['item_shop_last_sale'] = -1
matrix['item_shop_last_sale'] = matrix['item_shop_last_sale'].astype(np.int8)
for idx, row in matrix.iterrows():    
    key = str(row.item_id)+' '+str(row.shop_id)
    if key not in cache:
        if row.item_cnt_month!=0:
            cache[key] = row.date_block_num
    else:
        last_date_block_num = cache[key]
        matrix.at[idx, 'item_shop_last_sale'] = row.date_block_num - last_date_block_num
        cache[key] = row.date_block_num

In [24]:
cache = {}
matrix['item_last_sale'] = -1
matrix['item_last_sale'] = matrix['item_last_sale'].astype(np.int8)
for idx, row in matrix.iterrows():    
    key = row.item_id
    if key not in cache:
        if row.item_cnt_month!=0:
            cache[key] = row.date_block_num
    else:
        last_date_block_num = cache[key]
        if row.date_block_num>last_date_block_num:
            matrix.at[idx, 'item_last_sale'] = row.date_block_num - last_date_block_num
            cache[key] = row.date_block_num

Months since the first sale for each shop/item pair and for item only.

In [25]:
matrix['item_shop_first_sale'] = matrix['date_block_num'] - matrix.groupby(['item_id','shop_id'])['date_block_num'].transform('min')
matrix['item_first_sale'] = matrix['date_block_num'] - matrix.groupby('item_id')['date_block_num'].transform('min')

In [26]:
matrix.head().T.head(40)

                                           0       1       2       3       4
date_block_num                           0.0     0.0     0.0     0.0     0.0
shop_id                                  2.0     2.0     2.0     2.0     2.0
item_id                                 19.0    27.0    28.0    29.0    32.0
item_cnt_month                           0.0     1.0     0.0     0.0     0.0
city_code                                0.0     0.0     0.0     0.0     0.0
item_category_id                        40.0    19.0    30.0    23.0    40.0
type_code                               11.0     5.0     8.0     5.0    11.0
subtype_code                             4.0    10.0    55.0    16.0     4.0
item_cnt_month_lag_1                     NaN     NaN     NaN     NaN     NaN
item_cnt_month_lag_2                     NaN     NaN     NaN     NaN     NaN
item_cnt_month_lag_3                     NaN     NaN     NaN     NaN     NaN
item_cnt_month_lag_6                     NaN     NaN     NaN     NaN     NaN
item_cnt_month_lag_12                    NaN     NaN     NaN     NaN     NaN
date_avg_item_cnt_lag_1                  NaN     NaN     NaN     NaN     NaN
date_item_avg_item_cnt_lag_1             NaN     NaN     NaN     NaN     NaN
date_item_avg_item_cnt_lag_2             NaN     NaN     NaN     NaN     NaN
date_item_avg_item_cnt_lag_3             NaN     NaN     NaN     NaN     NaN
date_item_avg_item_cnt_lag_6             NaN     NaN     NaN     NaN     NaN
date_item_avg_item_cnt_lag_12            NaN     NaN     NaN     NaN     NaN
date_shop_avg_item_cnt_lag_1             NaN     NaN     NaN     NaN     NaN
date_shop_avg_item_cnt_lag_2             NaN     NaN     NaN     NaN     NaN
date_shop_avg_item_cnt_lag_3             NaN     NaN     NaN     NaN     NaN
date_shop_avg_item_cnt_lag_6             NaN     NaN     NaN     NaN     NaN
date_shop_avg_item_cnt_lag_12            NaN     NaN     NaN     NaN     NaN
date_cat_avg_item_cnt_lag_1              NaN     NaN     NaN     NaN     NaN
date_shop_cat_avg_item_cnt_lag_1         NaN     NaN     NaN     NaN     NaN
date_shop_type_avg_item_cnt_lag_1        NaN     NaN     NaN     NaN     NaN
date_shop_subtype_avg_item_cnt_lag_1     NaN     NaN     NaN     NaN     NaN
date_city_avg_item_cnt_lag_1             NaN     NaN     NaN     NaN     NaN
date_item_city_avg_item_cnt_lag_1        NaN     NaN     NaN     NaN     NaN
date_type_avg_item_cnt_lag_1             NaN     NaN     NaN     NaN     NaN
date_subtype_avg_item_cnt_lag_1          NaN     NaN     NaN     NaN     NaN
delta_price_lag                          NaN     NaN     NaN     NaN     NaN
delta_revenue_lag_1                      NaN     NaN     NaN     NaN     NaN
month                                    1.0     1.0     1.0     1.0     1.0
year                                  2013.0  2013.0  2013.0  2013.0  2013.0
days                                    28.0    28.0    28.0    28.0    28.0
item_shop_last_sale                     -1.0    -1.0    -1.0    -1.0    -1.0
item_last_sale                          -1.0    -1.0    -1.0    -1.0    -1.0
item_shop_first_sale                     0.0     0.0     0.0     0.0     0.0

In [27]:
matrix[matrix['year'] == 2014].head().T.head(40)

,4488710,4488711,4488712,4488713,4488714
date_block_num,12.000000,12.000000,12.000000,12.000000,12.000000
shop_id,2.000000,2.000000,2.000000,2.000000,2.000000
item_id,27.000000,30.000000,31.000000,32.000000,33.000000
item_cnt_month,0.000000,0.000000,0.000000,1.000000,1.000000
city_code,0.000000,0.000000,0.000000,0.000000,0.000000
item_category_id,19.000000,40.000000,37.000000,40.000000,37.000000
type_code,5.000000,11.000000,11.000000,11.000000,11.000000
subtype_code,10.000000,4.000000,1.000000,4.000000,1.000000
item_cnt_month_lag_1,0.000000,0.000000,0.000000,0.000000,1.000000
item_cnt_month_lag_2,0.000000,0.000000,0.000000,0.000000,2.000000
item_cnt_month_lag_3,0.000000,0.000000,0.000000,0.000000,0.000000
item_cnt_month_lag_6,0.000000,0.000000,0.000000,0.000000,0.000000
item_cnt_month_lag_12,1.000000,NaN,NaN,0.000000,1.000000
date_avg_item_cnt_lag_1,0.411377,0.411377,0.411377,0.411377,0.411377
date_item_avg_item_cnt_lag_1,0.086975,1.021484,0.543457,1.934570,0.913086
date_item_avg_item_cnt_lag_2,0.044434,1.022461,0.600098,1.799805,0.333252
date_item_avg_item_cnt_lag_3,0.130493,0.521973,0.543457,1.260742,0.717285
date_item_avg_item_cnt_lag_6,0.065247,0.891113,0.304443,1.891602,1.000000
date_item_avg_item_cnt_lag_12,0.155518,NaN,NaN,5.378906,1.355469
date_shop_avg_item_cnt_lag_1,0.148071,0.148071,0.148071,0.148071,0.148071
date_shop_avg_item_cnt_lag_2,0.100647,0.100647,0.100647,0.100647,0.100647
date_shop_avg_item_cnt_lag_3,0.089050,0.089050,0.089050,0.089050,0.089050
date_shop_avg_item_cnt_lag_6,0.096008,0.096008,0.096008,0.096008,0.096008
date_shop_avg_item_cnt_lag_12,0.141235,NaN,NaN,0.141235,0.141235
date_cat_avg_item_cnt_lag_1,1.082031,0.291504,0.232788,0.291504,0.232788
date_shop_cat_avg_item_cnt_lag_1,0.955566,0.046234,0.059448,0.046234,0.059448
date_shop_type_avg_item_cnt_lag_1,0.808594,0.051727,0.051727,0.051727,0.051727
date_shop_subtype_avg_item_cnt_lag_1,0.935059,0.046234,0.064697,0.046234,0.064697
date_city_avg_item_cnt_lag_1,0.148071,0.148071,0.148071,0.148071,0.148071
date_item_city_avg_item_cnt_lag_1,0.000000,0.000000,0.000000,0.000000,1.000000
date_type_avg_item_cnt_lag_1,1.034180,0.270020,0.270020,0.270020,0.270020
date_subtype_avg_item_cnt_lag_1,1.075195,0.291504,0.234009,0.291504,0.234009
delta_price_lag,-0.282715,-0.483398,-0.137451,-0.407227,-0.225464
delta_revenue_lag_1,1.211914,1.211914,1.211914,1.211914,1.211914
month,1.000000,1.000000,1.000000,1.000000,1.000000
year,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000
days,28.000000,28.000000,28.000000,28.000000,28.000000
item_shop_last_sale,1.000000,1.000000,1.000000,-1.000000,1.000000
item_last_sale,1.000000,1.000000,1.000000,1.000000,1.000000
item_shop_first_sale,12.000000,11.000000,11.000000,12.000000,12.000000

In [28]:
matrix.to_pickle(PATH+'processed_data.pkl')

In [29]:
print('Done!')

Done!

In [30]:
matrix[matrix['date_block_num'] == 34].head().T.head(40)

,10913804,10913805,10913806,10913807,10913808
date_block_num,34.000000,34.0,34.000000,34.000000,34.0
shop_id,5.000000,5.0,5.000000,5.000000,5.0
item_id,5037.000000,5320.0,5233.000000,5232.000000,5268.0
item_cnt_month,NaN,NaN,NaN,NaN,NaN
city_code,3.000000,3.0,3.000000,3.000000,3.0
item_category_id,19.000000,55.0,19.000000,23.000000,20.0
type_code,5.000000,13.0,5.000000,5.000000,5.0
subtype_code,10.000000,2.0,10.000000,16.000000,11.0
item_cnt_month_lag_1,0.000000,NaN,1.000000,0.000000,NaN
item_cnt_month_lag_2,1.000000,NaN,3.000000,0.000000,NaN
item_cnt_month_lag_3,3.000000,NaN,1.000000,1.000000,NaN
item_cnt_month_lag_6,1.000000,NaN,3.000000,NaN,NaN
item_cnt_month_lag_12,1.000000,NaN,NaN,NaN,NaN
date_avg_item_cnt_lag_1,0.258545,NaN,0.258545,0.258545,NaN
date_item_avg_item_cnt_lag_1,0.568359,NaN,0.954590,0.636230,NaN
date_item_avg_item_cnt_lag_2,2.511719,NaN,1.860352,1.116211,NaN
date_item_avg_item_cnt_lag_3,2.833984,NaN,3.572266,1.547852,NaN
date_item_avg_item_cnt_lag_6,1.977539,NaN,1.613281,NaN,NaN
date_item_avg_item_cnt_lag_12,1.299805,NaN,NaN,NaN,NaN
date_shop_avg_item_cnt_lag_1,0.190063,NaN,0.190063,0.190063,NaN
date_shop_avg_item_cnt_lag_2,0.205933,NaN,0.205933,0.205933,NaN
date_shop_avg_item_cnt_lag_3,0.245117,NaN,0.245117,0.245117,NaN
date_shop_avg_item_cnt_lag_6,0.180054,NaN,0.180054,NaN,NaN
date_shop_avg_item_cnt_lag_12,0.206055,NaN,NaN,NaN,NaN
date_cat_avg_item_cnt_lag_1,0.379150,NaN,0.379150,0.337402,NaN
date_shop_cat_avg_item_cnt_lag_1,0.513672,NaN,0.513672,0.374268,NaN
date_shop_type_avg_item_cnt_lag_1,0.456055,NaN,0.456055,0.456055,NaN
date_shop_subtype_avg_item_cnt_lag_1,0.447021,NaN,0.447021,0.349121,NaN
date_city_avg_item_cnt_lag_1,0.190063,NaN,0.190063,0.190063,NaN
date_item_city_avg_item_cnt_lag_1,0.000000,NaN,1.000000,0.000000,NaN
date_type_avg_item_cnt_lag_1,0.494141,NaN,0.494141,0.494141,NaN
date_subtype_avg_item_cnt_lag_1,0.337402,NaN,0.337402,0.331787,NaN
delta_price_lag,-0.222046,NaN,0.496826,0.505371,NaN
delta_revenue_lag_1,-0.048553,NaN,-0.048553,-0.048553,NaN
month,11.000000,11.0,11.000000,11.000000,11.0
year,2015.000000,2015.0,2015.000000,2015.000000,2015.0
days,31.000000,31.0,31.000000,31.000000,31.0
item_shop_last_sale,1.000000,-1.0,1.000000,1.000000,-1.0
item_last_sale,1.000000,-1.0,1.000000,1.000000,-1.0
item_shop_first_sale,14.000000,0.0,7.000000,3.000000,0.0